.footer {
  position: relative;
}
.footer__banner {
  max-width: 100%;
}
.footer__logo {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  width: 150px;
  height: 72px;
}
.footer__logo p {
  color: #ffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.38px;
  margin-top: 3px;
}
